html{
    box-sizing: border-box;
    background-color: black;
    color: white;
    margin: 2rem;
    font-family: "Inter", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction:column;
    align-items: start;
    justify-content : center;
    width:55%;
    /* background-color:crimson; */
}

form{
    display: flex;
    margin-top: -1rem;
    flex-direction : column;
    align-items: start;
    width: 100%;
}

h1{
    font-size: 64px;
    font-weight: 500;
    line-height: 0.5;
}

p{
    font-size:32px;
}

button{
    margin: 2rem 0px ;
    padding: .75rem 4rem;
    font-size: 24px;
}

button:active{
    translate: 0.3px 0.3px;
    background-color: white;
}

input{
    margin: .5rem 0px;
    width: 100%;
    background-color: black;
    color: white;
    font-size : 24px;
    padding : 1rem;
    font-weight: 100;
    font-family: inherit;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}


input::placeholder{
    color: white;
    font-size: 24px;
    font-weight: 300;
    font-family: inherit;
}

.radio-input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.checkbox-input{
    /* width:100%; */
    /* display: flex;
    align-items: center;
    gap: 0.75rem;
    justify-content: start; */
}

input[type="checkbox"]{
    width: 15px;
    display: inline-block;
}

input[type="radio"] + label{

    margin-left : -1.5rem;

}


#error{
    /* display: none; */
    position: absolute;
    opacity:0;
    top: 5rem;
    /* right:5rem; */
    font-size: 24px;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 2rem;
    translate: 0px -10px;
    transition: .5s all ease-out;
}

#error.show {
    /* display: block; */
    translate: 0 0;
    opacity: 1;
}